
.idea/.name

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

.idea/xiidec2.iml

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/goLibraries.xml

.idea/libraries/GOPATH__xiidec2_.xml

.idea/goLibraries.xml

.idea/goLibraries.xml

.idea/goLibraries.xml

.idea/goLibraries.xml
